@charset "utf-8";
/* CSS Document */

.cuerpo{
    background: #ebebff;
}

.minh-100 {
 height: 100vh;
}
	.logo{ text-align: center;}
	.logo img{ width: 20%;height: auto;}
	.slogan{text-align: center;}
	.imagen{padding-right: 5%;}
	.mantenimiento{position: relative; overflow: hidden;}
	.fondo {
    padding: 2em 0;
    border: 1px solid #ebebff;
    position: relative;
    overflow: hidden;
    background: #fff;
}
	.fondo:before{
    width: 170px;
    content: " ";
    background-image: url(../images/lateral-izq.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    left: -60px;
    top: 0px;
    height: 100%;
}
	.fondo:after{
    width: 170px;
    content: " ";
    background-image: url("../images/lateral-der.png");
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    right: -60px;
    top: 0px;
    height: 100%;
}
	.redes{}
	.redes{list-style: none; margin: 0; padding: 0;text-align: center;}
	.redes li{display: inline;list-style: none;} 
	.redes li a{color: #2f4dab;font-size: 2em; padding: 0.5em;}
	.redes li a:hover{color: #000;}


@media (max-width: 768px) {
  .fondo:before, .fondo:after {
    background:none;
  }
}
